.mod_header {
	margin-bottom: 70px;
	position: relative;
}

.header_back {
	position: absolute;
	top: 2px;
	left: 31px;
	font-size: 30px;
	cursor: pointer;
	&:visited {
		color: $color_black;
	}
}

.header_main {
	margin-bottom: 70px;
}

.header_sub {
	font-size: 40px;
	font-weight: 300;
}